button {
    background-color: #abf07d; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

button:hover {
    background-color: #6dbd7a; 
}

button:active {
    background-color: #098009; 
}

.column {
  float: left;
  width: 50%;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: -webkit-flex;
    display: flex;
}

.section1{
    -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

.section2{
-webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

.section3{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}