body {
    color: white;
    font: bold 24px "Lucida Sans Unicode", sans-serif; 
}

button {
    background-color: #ffc933; 
    border-style: outset;
    border-color: #0f6e1c;
    border-width: 8px;
    color: #0f6e1c;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}

button:hover {
    background-color: #ffbc00; 
}

button:active {
    background-color: #d1ad49; 
}

.column {
  float: left;
  width: 50%;
}
